
/* universal */

* {
  padding: 0px;
  margin: 0px;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/* header section */

header {
  font-family: verdana;
  font-size: 14px;
  font-weight: bold;
  justify-content: space-between;
  position: fixed;
  background-color: white;
  width: 100%;
  border-bottom: 2px solid mediumaquamarine;
}
header div {
  margin: 10px 24px;
}
header div span {
  padding-left: 20px;
  color: MediumAquamarine;
}
header nav {
  margin-right: 35px;
}
nav span {
  padding-left: 20px;
}
nav a {
  color: black;
}

/* article section */

article {
  display: flex;
  padding-top: 120px;
  justify-content: center;
  padding-bottom: 60px;
}
.col-lar, .col-mid, .col-sma {

}
.col-sec {
}
.col-sec p {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
.col-sec h2, h3 {
  padding-top: 15px;
}
.span-font {
  font-family: georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

/* first column */

.col-lar {
  width: 630px;
}
#cs1-header {
  background-image: url("../images/img-story-main.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5.5em 1em;
}
#cs1-header span {
  font-family: georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}
#cs2-header {
  background-image: url("../images/img-story-2.png");
  padding: 8em 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}
#cs3-header {
  background-image: url("../images/img-story-3.png");
  text-align: center;
  padding: 100px 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

/* middle column */

.col-mid {
  width: 300px;
  padding-left: 40px;
  padding-right: 40px;
}
#cs4-header {
  background-image: url("../images/img-story-1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 7em 2em;
  text-align: center;
}

/* end column */

.col-sma {
  width: 240px;
}
#cs5-header {
}
#cs5-header h3 {
  padding-bottom: 10px;
}

/* Footer */

footer {
  background-color: mediumaquamarine;
  padding: 8em;
  text-align: center;
  line-height: 2em;
}
#myt-footer {

}
#myt-footer span {
  font-size: 1.3em;
  font-weight: 600;
  color: white;
}
#myt-footer ul {
  display: inline-flex;
}
#myt-footer ul li {
  list-style-type: none;
  padding: 0px 1em;
}
#myt-footer ul li a {
  color: black;
}
#myt-footer ul li a:hover {

}
